<!DOCTYPE HTML>
<html>

<head>
    <base href="https://franhuetos.github.io/trade/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--Apex Charts-->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!--App dependencies-->
    <!-- <script src="src/services/jsonbin.service.js"></script> -->
    <script src="src/services/store.service.js"></script>
    <script src="src/services/utils.service.js"></script>
    <!--components-->
    <script src="src/views/apexcharts2/data.js"></script>
    <script src="src/components/wcHeader/wcHeader.component.js"></script>
</head>

<body>

  <wc-header></wc-header>


    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Inversiones</h5>
        </div>
        <div class="card-body">
          <div class="toolbar btn-group">
            <button id="one_month" class="btn btn-sm btn-outline-primary">1M</button>
            <button id="three_months" class="btn btn-sm btn-outline-primary">3M</button>
            <button id="six_months" class="btn btn-sm btn-outline-primary">6M</button>
            <button id="one_year" class="btn btn-sm btn-outline-primary active">1Y</button>
            <button id="ytd" class="btn btn-sm btn-outline-primary">YTD</button>
            <button id="all" class="btn btn-sm btn-outline-primary">ALL</button>
          </div>
          <div id="area-chart-2"></div>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Importe ganado</h5>
        </div>
        <div class="card-body">
          <div class="toolbar btn-group">
          </div>
          <div id="ganancias-chart"></div>
        </div>
      </div>
    </div>

     <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Porcentage ganancia mensual</h5>
        </div>
        <div class="card-body">
          <div class="toolbar btn-group">
          </div>
          <div id="porcentage-chart"></div>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Movimientos</h5>
        </div>
        <div class="card-body">
          <div class="toolbar btn-group">
          </div>
          <div id="candlestick-chart"></div>
          <div id="candlestick-bar"></div>
        </div>
      </div>
    </div> -->

    <h3>Predicción</h3>
    <p id="prediccion"></p>


      <!--Script para inicializar la logica-->
      <script src="src/views/apexcharts2/apexcharts2.controller.js"></script>

      <!-- <script>
        var options = {
          series: [{
          data: window.data
        }],
        toolbar: {
            autoSelected: 'pan',
            show: false
          },
          chart: {
          type: 'candlestick',
          height: 350,
          id: 'candles'
        },
        title: {
          text: 'CandleStick Chart',
          align: 'left'
        },
        xaxis: {
          type: 'category'
        },
        yaxis: {
          tooltip: {
            enabled: true
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#candlestick-chart"), options);
        chart.render();

        var optionsBar = {
          series: [{
          data: window.data.map(element => {
            return {
              x: element.x,
              y: element.z
            }
          })
        }],
          chart: {
          type: 'bar',
          height: 350,
          brush: {
            enabled: true,
            target: 'candles'
          },
        },
        selection: {
            enabled: true,
            min: window.data[0].x,
            max: window.data[window.data.length - 1].x,
            fill: {
              color: '#ccc',
              opacity: 0.4
            },
            stroke: {
              color: '#0D47A1',
            }
          },
        xaxis: {
          type: 'category',
          axisBorder: {
            offsetX: 13
          }
        },
        yaxis: {
          tooltip: {
            enabled: true
          }
        },
        stroke: {
          width: 0
        },
        dataLabels: {
          enabled: true
        },
        plotOptions: {
          bar: {
            columnWidth: '80%',
            colors: {
              ranges: [{
                from: -1000,
                to: -0.001,
                color: '#F15B46'
              }, {
                from: 0,
                to: 10000,
                color: '#00b746'
              }],
        
            },
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#candlestick-bar"), optionsBar);
        chart.render();
      </script> -->
</body>

</html>